NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=prueba_tecnica_caso3
DB_USER=root
DB_PASSWORD=secret
DB_LOGGING=false

JWT_SECRET=cambia-este-secreto-por-uno-largo-y-aleatorio
JWT_EXPIRES_IN=1h
